node_modules
.next
.git
.gitignore
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
*.pem
.vscode
.idea
*.swp
*.swo
coverage
.nyc_output
.turbo
dist
out
build
.vercel
README.md
LICENSE
*.md
.github
tests
__tests__
test
jest.config.js
.eslintrc*
.prettier*
.editorconfig
